/* ----------------------------------------------------------------
	Base
-----------------------------------------------------------------*/

body {
  background-color: #1d1f21;
  color: azure;
  font-family: Bahnschrift;
  padding: 32px;
}

header h1 {
  color: #2bbc8a;
  font-size: 2em;
  margin-bottom: -10px;
}

header h2 {
  color: #666666;
  font-size: 1em;
}

#content h1 {
  font-size: 1.5em;
  color: #2bbc8a;
  margin-top: 32px;
}

p {
  font-size: 16px;
  margin-top: 16px;
}

button {
  background-color: #2bbc8a;
}

#copyright {
  font-size: 8px;
  color: #666666;
}

.jobDesc {
  font-size: 14px;
}

a {
  color: #2bbc8a;
}

/* ----------------------------------------------------------------
	Navigation bar
-----------------------------------------------------------------*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li{
  display: inline;
}


nav ul li a {
  padding-right: 4em;
  text-decoration: none;
}

#resume {
  border-style: solid;
  padding: 10px;
}

/* ----------------------------------------------------------------
	Work Experience
-----------------------------------------------------------------*/

.jobDesc {
  list-style-type: square;
}

#workWebsite {
  text-decoration: none;
}
