/* ----------------------------------------------------------------
	Base
-----------------------------------------------------------------*/
* {
  font-family: Bahnschrift;
}

body {
  background-color: #1d1f21;
  color: azure;
  padding: 32px;
}

header h1 {
  color: #2bbc8a;
  font-size: 2em;
  margin-bottom: -10px;
}

header h5 {
  color: #666666;
  font-size: 1em;
}

#content h1 {
  font-size: 1.5em;
  color: #2bbc8a;
  margin-top: 32px;
}

p {
  font-size: 16px;
  margin-top: 16px;
}

button {
  background-color: #2bbc8a;
}

#copyright {
  font-size: 8px;
  color: #666666;
}

.jobDesc {
  font-size: 14px;
}

a {
  color: #2bbc8a;
}

a:hover {color: cornflowerblue;}

/* ----------------------------------------------------------------
	Navigation bar
-----------------------------------------------------------------*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

nav ul li{
  display: inline;
  font-weight: bold;
}

nav ul li a {
  margin: 1em 4em;
  text-decoration: none;
}

#resume button{
  font-weight: bold;
  height: 50px;
  width: 150px;
  margin-left: 3em;
  border: none;
}

#resume button:hover {
  color: white;
  background-color: cornflowerblue;
  cursor: pointer;
}

/* ----------------------------------------------------------------
	Work Experience
-----------------------------------------------------------------*/

.jobDesc {
  list-style-type: square;
}

#workWebsite {
  text-decoration: none;
}
